@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-lg font-libre;
}

.box-border {
	@apply border-solid border-[1px] border-b-grey-300;
}

.divide-content {
	@apply divide-y divide-grey-300;
}

.selected-tab {
	@apply box-border;
}

@layer base {
	@font-face {
		font-family: 'Noto';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/NotoSans-Regular.ttf) format('truetype');
	}

	@font-face {
		font-family: 'Libre';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/LibreBaskerville-Regular.ttf) format('truetype');
	}
}
